// Mixins
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

$orange: color("orange", "base");

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background: #3678C6;
}

.home {
	background-image: url(../img/background_blur.png);
	background-size: 100%;
}

main {
	flex: 1 0 auto;
}

#main-menu {
	nav ul a {
		text-transform: uppercase;
	}

	i.right {
		margin-right: 0;
	}
}

.wrapper {
	padding: 5% 5%;
}

.brand-logo{
	img{
		max-height: 40px;
		margin: 10px;
	}
}

.white-bg {
	background-color: #fff;
}

.top-spacer {
	margin-top: 10%;
}

footer {
	a {
		color: $orange;
		&:hover {
			text-decoration: underline;
		}
	}
}

h1, h2, h3, h4, h5 {
	color: $orange;
	// margin-top: 5%;
	// margin-bottom: 5%;
}

h1 {
	background:$orange;
	color: $primary-color;
	padding: 10px;
	margin-top: 0;
}

form {
	button {
		margin-top: 20px;
	}
}

.clear {
	clear: both;
}

ul.pagination li.disabled {
	color: #ccc;
}