// Mixins
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

$orange: color("orange", "base");

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background: #e8eaf6;
}

.home {
	background-image: url(../img/background_blur.png);
	background-size: 100%;
}

main {
	flex: 1 0 auto;
}

#main-menu {
	nav ul a {
		text-transform: uppercase;
	}

	i.right {
		margin-right: 0;
	}
}

.wrapper {
	padding: 2% 5%;
}

.brand-logo{
	img{
		max-height: 40px;
		margin: 10px;
	}
}

.white-bg {
	background-color: #fff;
}

.top-spacer {
	margin-top: 10%;
}

footer {
	a {
		color: $orange;
		&:hover {
			text-decoration: underline;
		}
	}
}

h1, h2, h3, h4, h5 {
	color: $orange;
	// margin-top: 5%;
	// margin-bottom: 5%;
}

h1 {
	color: white;
	margin: 0;
}

form {
	button {
		margin-top: 20px;
	}
}

.clear {
	clear: both;
}

ul.pagination li.disabled {
	color: #ccc;
}

a.clean-link {
	color: white;
}

.chart-container {
	margin-top: 20px;
}

.stats {
	.icon {
		height: 90px;
		widows: 90px;
	}
}

.back {
	font-size: 2.6rem;
    margin-right: 1rem;
    color: white;
}
thead {
	text-transform: uppercase;
	th {
		font-weight: normal;
		background: #fafafa;
		border: none;
		color: $orange;
			
		a {
			color: $orange;
		}
	}
}
.stores {
	.title {
		text-transform: uppercase;
		// font-weight: bold;
		color: white;
		font-size: 1.5rem;
	}
	.counter {
		text-align: center;
		font-size: 4rem;
		color: white;
	}
	.counter-title {
		font-size: 1.2rem;
	}
}

.purchases {
	.title {
		font-weight: bold;
		color: white;
		text-transform: uppercase;
	}
}